.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba($color: #444444, $alpha: 0.12);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C3C2C4;
  .footer__icon {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .footer__text {
    font-weight: 500;
    text-transform: uppercase;
  }
}