.social-login {
  margin-top: 35px;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .social-login__line {
    height: 2px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: rgba($color: #C3C2C4, $alpha: 0.4);
    span {
      background-color: $grey;
      padding: 0 12px;
    }
  }
  button {
    margin-top: 15px;
    color: white;
    border: none;
    i {
      margin-right: 10px;
    }
  }
  .social-login--github {
    background-color: $black;
  }
  .social-login--facebook {
    background-color: #3B5998;
  }
}