.videoBlock {
  margin: 0 8px 30px 8px;
  font-size: 18px;
  video {
    width: 340px;
    margin-bottom: 8px;
  }
  .videoBlock__title {
    font-weight: 400;
    margin-bottom: 5px;
  }
  .videoBlock__views {
    color: rgba($color: #444444, $alpha: 0.6);
  }
}