.videoBlock {
  margin: 0 8px 30px 8px;
  font-size: 18px;
  width: 320px;
  & > a {
    display: block;
    margin-bottom: 8px;
    video {
      background-color: black;
      width: 320px;
      height: 180px;
    }
  }
  .videoBlock__info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: 3px;
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        width: 100%;
        overflow: hidden;
      }
    }
    .videoBlock__u-avatar {
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      background-color: $dark-grey;
    }
    .videoBlock__auther,
    .videoBlock__title {
      width: 100%;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      padding-bottom: 3px;
    }
    .videoBlock__title {
      margin-bottom: 8px;
    }
    .videoBlock__auther {
      margin-bottom: 1px;
    }
    .videoBlock__auther,
    div {
      color: rgba($color: #444444, $alpha: 0.6);
    }
  }
}
.videoBlock--search {
  display: flex;
  width: 100%;
  font-size: 17px;
  & > a {
    display: block;
    margin-right: 15px;
    video {
      background-color: black;
      width: 320px;
      height: 180px;
    }
  }
  .videoBlock__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    a {
      display: flex;
      align-items: flex-start;
      overflow: hidden;
      &:not(:nth-child(2)) {
        padding-bottom: 3px;
        width: 100%;
      }
      &:first-child {
        flex-direction: column;
      }
      &:nth-child(2) {
        padding: 12px 0;
        align-items: center;
      }
      &:last-child {
        height: 36px;
        white-space: pre-wrap;
      }
    }
    .videoBlock__u-avatar {
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      background-color: $dark-grey;
      margin-right: 15px;
    }
    .videoBlock__auther,
    .videoBlock__description,
    .videoBlock__title {
      text-decoration: none;
    }
    .videoBlock__title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 8px;
    }
    .videoBlock__auther,
    div {
      color: rgba($color: #444444, $alpha: 0.6);
    }
  }
}