.videoPlayer {
  max-height: 479px;
  max-width: 850px;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: $black;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
  }
  .videoPlayer__controls {
    z-index: 9;
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 12px;
    background-color: rgba($color: $black, $alpha: 0.6);
    .videoPlayer__column {
      display: flex;
      align-items: center;
      &:first-child {
        .videoPlayer__volume {
          visibility: hidden;
          position: absolute;
          padding: 0;
          z-index: -1;
          opacity: 0;
          top: -60px;
          left: 3px;
          transition: all 0.4s ease-in-out;
          transform: rotate(-90deg);
          width: 80px;
          border: none;
          -webkit-appearance: none;
          &:hover {
            opacity: 1;
            z-index: 10;
            visibility: visible;
          }
          &::-webkit-slider-runnable-track {
            background-color: $grey;
            height: 5px;
          }
          &::-webkit-slider-thumb {
            background-color: $red;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: relative;
            top: -5px;
          }
          background-color: rgba($color: $black, $alpha: 0.6);
          cursor: pointer;    
        }
        #jsVolumeBtn {
          &:hover {
            & + .videoPlayer__volume {
              opacity: 1;
              z-index: 10;
              visibility: visible;
            }
          }
        }
        span:not(:last-child) {
          margin-right: 8px;
        }
      }
      &:not(:nth-child(2)) {
        width: fit-content;
        span {
          cursor: pointer;
        }
      }
      &:nth-child(2) {
        margin: 0 10px;
        width: 100%;
        justify-content: center;
        span {
          white-space: nowrap;
          margin-right: 8px;
        }
        .progress {
          width: 100%;
          height: 6px;
          background-color: $grey;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          transition: all 0.2s ease-in-out;
          border-radius: 3px;
          cursor: pointer;
          progress[data-state="fake"] {
            height: 6px;
            background-color: $grey;
          }
          progress {
            -webkit-appearance: none;
            border-radius: 3px; 
            width: 100%;
            height: 100%;
            box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
          }
          progress[value]::-webkit-progress-bar {
            border-radius: 7px;
            background-color: $grey;
          }
          progress[value]::-webkit-progress-value {
            background-color: $red;
            border-radius: 7px;
          }
        }
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}