.form-container {
  width: 100%;
  padding: 50px 22px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: center;
  form:not([class="fileUpload"]) {
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrap-input {
      box-sizing: unset;
      width: 100%;
      background-color: white;
      border-radius: 10px;
      padding: 25px;
      box-shadow: 0 1px 2px 0 rgba($color: $black, $alpha: 0.12);
    }
    .placeholder {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      color: #606060;
    }
    .videoFileUpload {
      position: relative;
      display: flex;
      align-items: center;
      label {
        cursor: pointer;
      }
      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
      }
    }
    .videoFileUpload,
    input:not([type="file"]),
    textarea {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: all 0.15s ease-in-out;
      max-width: 370px;
      border-radius: 2px;
      &:not([type="submit"]) {
        margin-bottom: 25px;
        box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.06);
        animation: shadowFadeOut 0.15s ease-in-out;
        will-change: box-shadow;
        &:focus,
        &:active {
          transform: scale(1.001);
          box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.06);
          animation: shadowFadeIn 0.15s ease-in-out;
        }
        @keyframes shadowFadeIn {
          0% { box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.06); }
          50% { box-shadow: none; }
          100% { box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.06); }
        }
        @keyframes shadowFadeOut {
          0% { box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.06); }
          50% { box-shadow: none; }
          100% { box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.06); }
        }
      }
      &[type="submit"] {
        color: white;
        background-color: #3498db;
        &:active {
          background-color: rgba($color: #3498db, $alpha: 0.9);
        }
      }
    }
    textarea {
      height: 150px;
    }
  }
  a {
    margin-top: 25px;
    max-width: 370px;
    width: 100%;
  }
}