@keyframes flashAnimation {
  0% {
    transform: translateY(-60px);
  }
  5% {
    transform: translateY(0px);
  }
  95% {
    transform:translateY(0px);
  }
  100% {
    transform: translateY(-60px);
  }
}
.flash-message__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  background-color: #bdc3c7;
  animation: flashAnimation 4s ease-in-out forwards;
  &.success {
    background-color: #27ae60;
  }
  &.error {
    background-color: #e74c3c;
  }
  .flash-message__text {
    color: white;
    font-weight: 600;
  }
}