.scrim.content-drawer--none#jsScrim
.content-drawer.content-drawer--none#jsContentDrawer
  .content-drawer__header-wrapper
    .content-drawer__header#jsContentDrawerHeader
      .header__bars
          button
              i.fas.fa-bars
      a(href=routes.home)
          i.fab.fa-youtube
          span W
          span e
          span T
          span u
          span b
          span e
  .content-drawer__guide-wrapper 
    .content-drawer__guides
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-home
        span.contetn-drawer__guide-text Home
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-fire
        span.contetn-drawer__guide-text Trending
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fab.fa-youtube-square
        span.contetn-drawer__guide-text Subscriptions
    .content-drawer__guides
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-th-large
        span.contetn-drawer__guide-text Library
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-history
        span.contetn-drawer__guide-text History
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-photo-video
        span.contetn-drawer__guide-text Your videos
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-clock
        span.contetn-drawer__guide-text Watch later
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-thumbs-up
        span.contetn-drawer__guide-text Liked videos
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-chevron-down
        span.contetn-drawer__guide-text Show more
    .content-drawer__guides
      .content-drawer__guide-header Subscriptions
    .content-drawer__guides
      .content-drawer__guide-header More from wetube
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fab.fa-youtube
        span.contetn-drawer__guide-text WeTube Premium
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-film
        span.contetn-drawer__guide-text Movies
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-gamepad
        span.contetn-drawer__guide-text Gaming
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-satellite-dish
        span.contetn-drawer__guide-text Live
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-lightbulb
        span.contetn-drawer__guide-text Learning
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-trophy
        span.contetn-drawer__guide-text Sports
    .content-drawer__guides
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-cog
        span.contetn-drawer__guide-text Settings
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-flag
        span.contetn-drawer__guide-text Report history
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-question-circle
        span.contetn-drawer__guide-text Help
      .content-drawer__guide
        span.content-drawer__guide-icon
          i.fas.fa-exclamation-circle
        span.contetn-drawer__guide-text Send feedback
    .content-drawer__footer 
      p About Press Copyright Contact us Creators Advertise Developers
      p Terms Privacy Policy & Safety How WeTube works Test new feaures
.side-bar.content-drawer--none#jsSideBar
  .side-bar__guide
    span.side-bar__guide-icon
      i.fas.fa-home
    span.side-bar__guide-text Home
  .side-bar__guide
    span.side-bar__guide-icon
      i.fas.fa-fire
    span.side-bar__guide-text Trending
  .side-bar__guide
    span.side-bar__guide-icon
      i.fab.fa-youtube-square
    span.side-bar__guide-text Subscriptions
  .side-bar__guide
    span.side-bar__guide-icon
      i.fas.fa-th-large
    span.side-bar__guide-text Library