.user-profile {
  background-color: $dark-white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .user-profile__header,
  .user-profile__navigation-bar {
      background-color: $white;
      width: 100%;
  }
  .user-banner {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 122.738px;
    .user-banner-img {
      height: 100%;
      width: 100%;
      background: linear-gradient(36deg, #aaaaaa, #bebebe);
      background-position: center;
      background-size: cover;
    }
  }
  .user-profile__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 122.738px;
    .user-box {
      display: flex;
      padding: 16px 107px 4px 107px;
      width: 100%;
      height: fit-content;
      .wrap-u-avatar {
        .u-avatar {
          background-position: center;
          background-size: cover;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: $dark-grey;
          margin-right: 25px;
        }
      }
      .userInfo {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        & > div {
          min-width: fit-content;
        }
        .wrap-username {
          .user-profile__username {
            width: 270.75px;
            word-break: break-all;
            font-size: 24px;
          }
        }
        .user-profile__btns {
          display: flex;
          align-items: center;
          a {
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              white-space: nowrap;
              width: fit-content;
              padding: 10px 16px;
              border: none;
              border-radius: 2px;
            }
            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
        @media screen and (max-width: 950px) {
          .user-profile__btns {
            margin-top: 8px;
          }
        }
      }
    }
  }
  .user-profile__navigation-bar {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 59px;
    .navigation-bar__wrap-navigation {
      display: flex;
      align-items: center;
      .previousBtn,
      .nextBtn {
        cursor: pointer;
        button {
          font-size: 15px;
          width: 48px;
          height: 48px;
          border: none;
          background-color: rgba($color: #000000, $alpha: 0);
          color: #606060;
        }
      }
      .navigation-bar__list {
        display: flex;
        overflow: auto;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          height: 48px;
          width: fit-content;
          padding: 0 32px;
          white-space: nowrap;
          font-weight: 600;
          color: #606060;
          cursor: pointer;
          &:hover {
            color: #030303;
          }
        }
        .navigation-item--selected {
          color: #030303;
        }
        .selected-bar {
          position: absolute;
          width: 115.325px;
          border-bottom: 2px solid $selected-black;
          transition: transform 0.2s ease-in-out,
            width 0.2s ease-in-out;
        }
      }
      .navigation-bar__list::-webkit-scrollbar {
        height: 0;
      }
    }
  }
  .user-profile__video-list {
    position: relative;
    width: 100%;
    padding: 0 107px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: #444444, $alpha: 0.12);
    }
    .video-list__title {
      display: block;
      margin-bottom: 25px;
    }
    .videosPreviousBtn {
      left: 87px;
    }
    .videosNextBtn {
      right: 87px;
    }
    .videosNextBtn,
    .videosPreviousBtn {
      position: absolute;
      z-index: 2;
      top: 90px;
      button {
        font-size: 15px;
        color: #909090;
        background-color: white;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;  
        box-shadow: 0 4px 4px 
        rgba($color: $black, $alpha: 0.12), 0 0 4px rgba($color: $black, $alpha: 0.12);
      }
    }
    .video-list__videos {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      height: 227.975px;
      overflow: auto;
    }
    .video-list__videos::-webkit-scrollbar {
      height: 0;
    }
  }
}