.video-detail__container {
  max-width: 960px;
  width: 100%;
  padding: 25px 22px;
  .video__info {
    width: 100%;
    max-width: 960px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid rgba($color: #444444, $alpha: 0.12);
    .video__title,
    .video__description {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 3px;
    }
    .video__title {
      font-size: 22px;
      white-space: nowrap;
      font-weight: 400;
      margin-bottom: 15px;
    }
    .wrap-othr {
      margin-bottom: 17px;
      color: rgba($color: #444444, $alpha: 0.6);
    }
    .video__auther {
      width: 100%;
      border-top: 1px solid rgba($color: #444444, $alpha: 0.12);
      padding-top: 17px;
      margin-bottom: 17px;
      & > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        a {
          display: flex;
          align-items: center;
          &:first-child {  
            width: fit-content;
            overflow: hidden;
          }
          &:not(:first-child) {
            margin-left: 15px;
          }
          .video__u-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 15px;
            background-color: $dark-grey;
          }
          span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 18px;
            font-weight: 500;
            color: #030303;
            padding-bottom: 3px;
          }
        }
        button {
          white-space: nowrap;
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 16px;
          border: none;
          border-radius: 2px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .video__description {
      margin-left: 64px;
      padding-bottom: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .video__description--open {
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
    #showMoreBtn {
      color: #606060;
      font-weight: 600;
      cursor: pointer;
      margin-left: 64px;
      margin-top: 8px;
    }
  }
  .video__comments {
    margin-top: 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    .video__comment-number {
      font-size: 18px;
    }
    .video__comment-form {
      width: 100%;
      max-width: 960px;
      margin-top: 25px;
      display: flex;
      .video__loggedUser-avatar {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 15px;
        background-color: $dark-grey;
      }
      .wrap-input {
        width: 100%;
        input {
          background-color: rgba($color: #000000, $alpha: 0);
          border: none;
          border-bottom: 1px solid rgba($color: #444444, $alpha: 0.12);
        }
      }
    }
    .video__comments-list {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      max-width: 960px;
      width: 100%;
      li {
        display: flex;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        .comment__u-avatar {
          width: 40px;
          height: 40px;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
          margin-right: 15px;
          background-color: $dark-grey;
        }
        .comment__text {
          width: 100%;
          overflow: hidden;
          a {
            display: flex;
            width: 100%;
            .comment__username {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-weight: 500;
              margin-right: 5px;
              color: #030303;
              padding-bottom: 3px;
            }
          }
          span:nth-child(2) {
            color: rgba($color: #444444, $alpha: 0.6);
          }
          p {
            margin-top: 7px;
            word-break: break-all;
            line-height: 20px;
            padding-bottom: 3px;
          }
          .comment__input {
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
            border-bottom: 1px solid rgba($color: #444444, $alpha: 0.12);
          }
        }
        .comment__menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 15px;
          button {
            background-color: rgba($color: #000000, $alpha: 0);
            padding: 0;
            margin: 0;
            border: none;
            color: rgba($color: #444444, $alpha: 0.6);
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
          .comment__up-vote-btn {
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            border: 2px solid rgba($color: #444444, $alpha: 0.12);
            border-radius: 6px;
            transition: border 0.1s ease-in-out;
            padding-bottom: 5px;
            i {
              transition: color 0.2s ease-in-out;
              color: rgba($color: #444444, $alpha: 0.6)
            }
            .up-vote-number {
              color: #030303;
              line-height: 10px;
              transition: color 0.2s ease-in-out;
            }
          }
          .comment__up-vote-btn--active {
            border: 2px solid rgba($color: #10b981, $alpha: 0.12);
            i {
              color: #10b981;
            }
            .up-vote-number {
              color: #10b981;
              line-height: 10px;
            }
          }
          div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 5px;
            .comment__edit-btn,
            .comment__delete-btn {
              width: 18px;
              height: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
              &:active {
                div {
                  width: 100%;
                  height: 100%;
                  background-color: rgba($color: #444444, $alpha: 0.12);
                }
              }
              div {
                transition: height 0.2s ease-in-out,
                width 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
                width: 10px;
                height: 10px;
                margin: 0;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .comment__edit-btn {
              .comment__wrap-edit {
                font-size: 13px;
              }
            }
            .comment__delete-btn {
              .comment__wrap-delete {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}