.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 22px;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 20px;
    overflow: hidden;
    border-bottom: 1px solid rgba($color: #444444, $alpha: 0.12);
    .video__title,
    .video__description {
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .video__title {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 17px;
    }
    .wrap-othr {
      margin-bottom: 20px;
      color: rgba($color: #444444, $alpha: 0.6);
    }
    .video__auther {
      width: 100%;
      border-top: 1px solid rgba($color: #444444, $alpha: 0.12);
      padding-top: 20px;
      margin-bottom: 10px;
      div {
        display: flex;
        justify-content: space-between;
        a {
          width: fit-content;
          display: flex;
          align-items: center;
          .video__u-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 15px;
          }
          span {
            font-size: 18px;
            font-weight: 500;
            color: #030303;
          }
        }
        button {
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 16px;
          border: none;
          margin: 12px 0;
          border-radius: 2px;
        }
      }
    }
    .video__description {
      margin-left: 64px;
      padding-bottom: 20px;
    }
  }
  .video__comments {
    margin-top: 25px;
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    .video__comment-number {
      font-size: 18px;
    }
    .video__comment-form {
      width: 100%;
      max-width: 850px;
      margin-top: 25px;
      display: flex;
      .video__loggedUser-avatar {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 15px;
      }
      .wrap-input {
        width: 100%;
        input {
          background-color: rgba($color: #000000, $alpha: 0);
          border: none;
          border-bottom: 1px solid rgba($color: #444444, $alpha: 0.12);
        }
      }
    }
    .video__comments-list {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      max-width: 850px;
      width: 100%;
      li {
        display: flex;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        .comment__u-avatar {
          width: 40px;
          height: 40px;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
          margin-right: 15px;
        }
        .comment__text {
          width: 100%;
          .comment__username {
            font-weight: 500;
            margin-right: 5px;
            color: #030303;
          }
          span:nth-child(2) {
            color: rgba($color: #444444, $alpha: 0.6);
          }
          p {
            margin-top: 7px;
            word-break: break-all;
            line-height: 20px;
          }
        }
        .comment__menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 15px;
          button {
            background-color: rgba($color: #000000, $alpha: 0);
            padding: 0;
            margin: 0;
            border: none;
            color: rgba($color: #444444, $alpha: 0.6);
            font-size: 16px;
            &:focus {
              outline: none;
            }
          }
          .comment__up-vote-btn {
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            border: 2px solid rgba($color: #444444, $alpha: 0.12);
            border-radius: 6px;
            transition: color 0.2s ease-in-out;
            padding-bottom: 5px;
            i {
              color: rgba($color: #444444, $alpha: 0.6)
            }
            .up-vote-number {
              color: #030303;
              line-height: 10px;
            }
          }
          .comment__up-vote-btn--active {
            color: #10b981;
          }
          div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 5px;
            .comment__edit-btn,
            .comment__delete-btn {
              width: 18px;
              height: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
              &:active {
                div {
                  width: 100%;
                  height: 100%;
                  background-color: rgba($color: #444444, $alpha: 0.12);
                }
              }
              div {
                transition: height 0.2s ease-in-out,
                width 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
                width: 10px;
                height: 10px;
                margin: 0;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .comment__edit-btn {
              .comment__wrap-edit {
                font-size: 13px;
              }
            }
            .comment__delete-btn {
              .comment__wrap-delete {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}